*{margin:0; padding:0;}

html {
    scroll-behavior: smooth;
    
  }



body{
    background-color: #070d17;;
    color: white;
    width: 100%;
    margin:auto;
    
    
   
}



#heading{
    font-family: 'Permanent Marker';
    letter-spacing: 1px;
    font-size: 20px;
    padding: 150px;
    
}

#heading h3{
    padding: 5px;
}

nav{
    height: 25px;
    background-color: transparent;
    padding: 30px;
    
}

#nav {list-style-type: none; display: block; padding: 15px;}

#nav a {
    float:left; 
    text-align: center; 
    padding: 25px; 
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    margin:auto;
    font-family: "Koulen"
    

}

#nav a:hover {
    color: rgb(255, 92, 28);
    
}


#rules{
    padding-left: 100px;
    list-style-type:upper-latin;
    text-align: left;
    font-family: roboto flex

    
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.judge-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 25px;
}

.layout-vertical {
    display: flex;
    flex-direction: column;
}




.table-judge th{
    font-size: 37px;
    font-family: 'The Blacksmith';
    padding: 1px;
    background-color: #070d17;
    
}

.table-judge{
    padding-top: 80px;
    margin: auto;

}
.table-judge #img-row td{
    padding: 50px 50px 0px 50px;
}

.table-judge #txt-row td{
    padding: 15px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

.table-judge #link-row img{
    width: 25px;
    margin: 6px;

}

.table-judge #link-row img:hover{
    filter: invert(0.30);
}

.table-judge #link-row #yt-img{
    width: 36px;
    margin: 0px;
}






#faq table{
margin: auto;
border-collapse: collapse;
border: 1px solid #070d17;

}

#faq th{
    padding: 15px;
    background-color: #0b1527;
    border-bottom: 2px dashed #ff8c49;
    border-top-left-radius: 50%;
    width: 240px;
}

#faq td{
    padding: 20px 5px 20px 5px;
    background-color: #0b1527;
    border-bottom-right-radius: 50%;
    height: 100px;
}

#faq td,th {
    border-left: 170px solid #070d17;
    border-right: 170px solid #070d17;
    
    
}

.faqback{
    background-color: rgb(0, 48, 94);
}



